
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row">
			<form style="margin-top: 100px; margin-bottom: 100px" class="form-horizontal" th:action="@{/book/add}" method="post"
				enctype="multipart/form-data">
				<fieldset style="margin-left: 250px;">
					<legend class="center-block">
						Thông tin sách mới<span style="font-size: small">  * Bắt buộc phải nhập</span>
					</legend>


					<!-- title -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="title">* Tiêu đề</label>

						<div class="col-md-8">
							<input type="text" name="title" class="form-control" id="title"
								th:value="${book.title}" required="required" placeholder="Tiêu đề" />
							<span class="help-block">Tiêu đề của sách</span>
						</div>
					</div>

					<!-- author -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="author">*
							Tác giả</label>
						<div class="col-md-8">
							<input type="text" name="author" class="form-control" id="author"
								th:value="${book.author}" required="required"
								placeholder="Tác giả" /> <span class="help-block">Tác giả của sách</span>
						</div>
					</div>

					<!-- publisher -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="publisher"> * Nhà xuất bản</label>
						<div class="col-md-8">
							<input required="required" type="text" name="publisher" class="form-control"
								id="publisher" th:value="${book.publisher}"
								placeholder="Nhà xuất bản" /> <span class="help-block">Nhà xuất bản của sách</span>
						</div>
					</div>

					<!-- publication date -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="publicationDate">Ngày xuất bản</label>
						<div class="col-md-8">
							<input type="date" class="form-control" id="publicationDate"
								name="publicationDate" th:value="${book.publicationDate}"
								placeholder="Ngày xuất bản" /> <span class="help-block">Ngày xuất bản của sách</span>
						</div>
					</div>

					<!-- language -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="language">Ngôn ngữ</label>
						<div class="col-md-8">
							<select th:value="${book.language}" id="language" name="language"
								class="form-control">
								<option value="Tiếng Anh">Tiếng Anh</option>
								<option value="Tiếng Việt">Tiếng Việt</option>
							</select>
						</div>
					</div>

					<!-- category -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="category">*
							Thể loại</label>
						<div class="col-md-8">
							<select required th:value="${book.category}" id="category" name="category"
								class="form-control">
								<option value="" selected="selected" disabled="disabled">Lựa chọn</option>
								<option value="Quản lý"
									th:selected="(${book.category}=='Quản lý')">Quản lý</option>
								<option value="Khoa học viễn tưởng"
									th:selected="(${book.category}=='Khoa học viễn tưởng')">Khoa học viễn tưởng</option>
								<option value="Kỹ thuật"
									th:selected="(${book.category}=='Kỹ thuật')">Kỹ thuật</option>
								<option value="Lập trình"
									th:selected="(${book.category}=='Lập trình')">Lập trình</option>
								<option value="Nghệ thuật"
									th:selected="(${book.category}=='Nghệ thuật')">Nghệ thuật</option>
							</select>
						</div>
					</div>

					<!-- pages -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="pageNumber">Số trang</label>

						<div class="col-md-8">
							<input min="0" type="number" name="numberOfPages" class="form-control"
								id="pageNumber" th:value="${book.numberOfPages}"
								placeholder="Số trang" /> <span class="help-block">Số trang của sách</span>
						</div>
					</div>

					<!-- shipping weight -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="shippingWeight">Trọng lượng vận tải</label>
						<div class="col-md-8">
							<div class="input-group">
								<input min="0" th:value="${book.shippingWeight}" type="number" step="0.01"
									name="shippingWeight" class="form-control" id="shippingWeight"
									placeholder="Trọng lượng" /> <span
									class="input-group-addon">kg</span>
							</div>
							<span class="help-block">Trọng lượng vận tải của sách</span>
						</div>
					</div>

					<!-- price -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="price">*
							Giá</label>
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon">VND</span>
								<input required="required" th:value="${book.price}" type="number" step="1000"
									   name="price" class="form-control" id="price"
									   placeholder="Giá" />
							</div>
							<span class="help-block">Giá của sách</span>
						</div>
					</div>

<!--					&lt;!&ndash; in stock number &ndash;&gt;-->
<!--					<div class="form-group">-->
<!--						<label class="col-md-2 control-label" for="inStockNumber">Số lượng trong kho</label>-->
<!--						<div class="col-md-8">-->
<!--							<input th:value="${book.inStockNumber}" type="number"-->
<!--								   name="inStockNumber" class="form-control" id="inStockNumber"-->
<!--								   placeholder="Số lượng trong kho" /> <span-->
<!--								class="help-block">Số lượng còn lại</span>-->
<!--						</div>-->
<!--					</div>-->

<!--					&lt;!&ndash; status of book &ndash;&gt;-->
<!--					<div class="form-group">-->
<!--						<label class="col-md-2 control-label" for="active">Tình trạng</label>-->
<!--						<div class="col-md-8">-->
<!--							<label><input value="true" type="radio" name="active"-->
<!--								checked="checked" /> Còn hàng </label> <label><input-->
<!--								value="false" type="radio" name="active" />-->
<!--								Hết hàng </label> <span class="help-block">Còn hàng hoặc hết hàng</span>-->
<!--						</div>-->
<!--					</div>-->

					<!-- description -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="description">Mô tả</label>
						<div class="col-md-8">
							<textarea name="description" rows="5" class="form-control"
								id="description" th:value="${book.description}"
								placeholder="Mô tả" /></textarea>
							<span class="help-block">Mô tả sách</span>
						</div>
					</div>

					<!-- upload image -->
					<div class="form-group">
						<div class="col-md-2">
							<label for="bookImage">Tải ảnh lên</label>
						</div>
						<div class="col-md-8">
							<input required id="bookImage" type="file" name="bookImage"
								th:value="${book.bookImage}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button id="submit" type="submit" class="btn btn-success">Thêm sách</button>
							<a class="btn btn-danger" th:href="@{/}">Hủy</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<script>
		$("#submit").click(function (e){
			e.preventDefault();
			if($("#title").val() == ""){
				alert("Nhap vao title");
				$(#title).focus();
			}
		})
	</script>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
