
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
		<div>
			<ol class="breadcrumb" style="margin-left: 200px">
				<li><a th:href="@{/book/bookList}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Quay lại</a></li>
				<li><strong><a th:href="@{/book/updateBook?id=}+${book.id}" class="fa fa-pencil" style="color: green"> Sửa</a></strong></li>
			</ol>
			
		</div>
		
		<div class="row" style="margin-left: 190px">
			<div class="col-xs-3">
				<div class="panel panel-default">
				<div class="panel-body">
					<img th:src="@{'data:image/jpeg;charset=utf-8;base64,' + ${book.imageString}}" class="img-responsive center-block">
				</div>
				</div>
			</div>
			<div class="col-xs-9">
				<h3 th:text="${book.title}" style="color: red; font-family: cursive"></h3><br/>
				<div class="row">
					<div class="col-xs-6">
						<p><strong>Tác giả: </strong><span th:text="${book.author}"></span></p>
						<p><strong>Nhà xuất bản: </strong><span th:text="${book.publisher}"></span></p>
						<p><strong>Ngày xuất bản: </strong><span th:text="${book.publicationDate}"></span></p>
						<p><strong>Ngôn ngữ: </strong><span th:text="${book.language}"></span></p>
						<p><strong>Thể loại: </strong><span th:text="${book.category}"></span></p>
						<p><strong>Số trang: </strong><span th:text="${book.numberOfPages}"></span></p>
					</div>
					<div class="col-xs-6">
						<p><strong>Số lượng trong kho: </strong><span th:text="${book.inStockNumber}"></span></p>
						<p><strong>Trọng lượng: </strong><span th:text="${book.shippingWeight}"></span></p>
						<p><strong>Giá: </strong><span th:text="${book.price}"></span></p>
					</div>
				</div>
				<hr/>
				<p><Strong>Mô tả: </Strong><span th:utext="${book.description}"></span></p>
				<br/><hr/>
			</div>
			
		</div>
	</div>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
