
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<div class="container">
  <div class="row">
    <form style="margin-top: 100px" class="form-horizontal" th:action="@{/book/import}" method="post"
          enctype="multipart/form-data">
      <fieldset style="margin-left: 250px;">
        <legend class="center-block">
          Nhập thông tin sách<span style="font-size: small"> * Bắt buộc nhập</span>
        </legend>

        <input hidden="hidden" name="id" th:value="${book.id}" />

        <!-- price import-->
        <div class="form-group">
          <label class="col-md-2 control-label" for="price">
            Giá</label>
          <div class="col-md-8">
            <div class="input-group">
              <span class="input-group-addon">VND</span>
              <input th:value="${book.price}" type="number" step="1000"
                     name="price" class="form-control" id="price"
                     placeholder="Giá" />
            </div>
            <span class="help-block">Giá của sách</span>
          </div>
        </div>

        <!-- quantity -->
        <div class="form-group">
          <label class="col-md-2 control-label" for="instockNumber">Số sách</label>

          <div class="col-md-8">
            <input type="number" name="inStockNumber" class="form-control"
                   id="instockNumber"
                   placeholder="Số lượng" /> <span class="help-block">Số sách nhập vào</span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <button type="submit" class="btn btn-success">Nhập sách</button>
            <a class="btn btn-danger" th:href="@{/book/bookInfo(id=${book.id})}">Hủy</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>


<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
