<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<div class="container">
  <div class="table-responsive" style="margin-left: 250px; margin-top: 100px">
    <table id="employeeListTable" class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>Khách hàng</th>
        <th>Ngày đặt</th>
        <th>Mã đơn hàng</th>
        <th>Tổng</th>
        <th>Trạng thái</th>
      </tr>
      </thead>
      <tbody>
      <tr data-th-each="order : ${orderList}">
        <td th:text="${order.name}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.orderId}"></td>
        <td th:text="${#numbers.formatDecimal(order.orderTotal,0,0)}"></td>
        <td th:text="${order.orderStatus}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
