<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row" style="margin-bottom: -100px; display: none">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Books'"></span>
                </h2>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="/image/logo.png" class="img-responsive"/>
        </div>
    </div>
    <hr
            style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;"/>
    <img class="img-responsive" src="/image/wood.png"
         style="margin-top: -75px; display: none"/>

    
    <form th:action="@{/shoppingCart/addItem}" method="post">
    	<input hidden="hidden" th:field="*{book.id}" />
    	<div class="row" style="margin-top: 50px;margin-bottom: 100px;">
    		<div class="col-xs-3">
    			<h3><a th:href="@{/bookshelf}" class="fa fa-long-arrow-left" aria-hidden="true" style="color: #1c1e1c;text-decoration: none;margin-left: 50px;"> Danh sách</a></h3><br/>
    			<img style="max-width: 250px;" class="img-responsive shelf-book" th:src="@{'data:image/jpeg;charset=utf-8;base64,' + ${book.imageString}}" />
    		</div>
    		
    		<div class="col-xs-9" style="margin-left: -80px;padding: 0px 50px;">
    			<h3><span th:if="${addBookSuccess}" style="color: forestgreen"><i class="fa fa-check" aria-hidden="true" style="color: forestgreen"></i>Đã thêm vào giỏ hàng</span></h3>
    			<h3><span th:if="${notEnoughStock}" style="color: red">Chỉ còn <span th:text="${book.inStockNumber}"></span> quyển trong kho.</span></h3>
    			<h3 th:text="${book.title}" >Book Title</h3>
    			<div class="row">
    				<div class="col-xs-5">
    					<h5><strong>Tác giả: </strong><span th:text="${book.author}"></span></h5>
    					<p><strong>Nhà xuất bản: </strong><span th:text="${book.publisher}"></span></p>
    					<p><strong>Ngày xuất bản: </strong><span th:text="${book.publicationDate}"></span></p>
    					<p><strong>Ngôn ngữ: </strong><span th:text="${book.language}"></span></p>
    					<p><strong>Thể loại: </strong><span th:text="${book.category}"></span></p>
    					<p><strong>Số trang: </strong><span th:text="${book.numberOfPages}"></span> trang</p>
    					<p><strong>Trọng lượng vận chuyển: </strong><span th:text="${book.shippingWeight}"></span> kg</p>
    				</div>
    				
    				<div class="col-xs-7">
    					<div class="panel panel-default" style="border-width: 5px; margin-top: 20px;">
    						<div class="panel-body" style="line-height: 35px;text-align: center;">
    							<div class="row">
    								<div class="col-xs-6">
    									<p style="font-weight: bold">Giá: <span><span th:text="${book.price}"></span> VNĐ</span></p>
    									<span style="font-weight: bold">Số lượng: </span>
    									<input type="number" name="qty" style="padding: 0px 10px;">
    								</div>
    								<div class="col-xs-6">
    									<h4 th:if="*{book.inStockNumber!=0}">Còn lại: <span th:text="${book.inStockNumber}"> </span></h4>
    									<h4 th:if="*{book.inStockNumber==0}" style="color:darkred;">Hết hàng</h4>
    									<button type="submit" class="btn btn-warning" style="color:black;border:1px solid black; padding: 10px 40px 10px 40px;">Thêm vào giỏ hàng</button>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			
    			<hr/>
    			<h3>Mô tả chi tiết:</h3>
    			<p th:utext="${book.description}"></p>
    			<br/><hr/>
    		</div>
    	</div>
    </form>
</div>
<!-- end of container -->

<div th:replace="common/header :: footer"/>


<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
