<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px; display: none">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<h2 class="section-headline">
						<span
							th:text="${user}? ${#strings.toUpperCase(user.username)} : 'All Books'"></span>
					</h2>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="/image/logo.png" class="img-responsive" />
			</div>
		</div>
		<hr style="position: absolute; width:85%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
		<img class="img-responsive" src="/image/wood.png"
			style="margin-top: -75px; display: none" />

		<div class="row" style="margin-top: 10px;">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-6 text-left">
						<a class="btn btn-warning" th:href="@{/bookshelf}">Tiếp tục chọn sách</a>
					</div>
					<div class="col-xs-6 text-right">
						<a class="btn btn-primary"
							th:href="@{/checkout(id=${shoppingCart.id})}">Thanh toán</a>
					</div>
					<br />
					<div th:if="${notEnoughStock}" class="alert alert-warning">
						Một số sản phầm không đủ số lượng trong kho. Hãy cập nhập lại số lượng sản phẩm</div>
					<div th:if="${emptyCart}" class="alert alert-warning">
						Giỏ hàng của bạn đang trống. Bạn có thể tìm thấy thứ mình
						thích trong giá sách và thêm chúng vào giỏ hàng không.</div>

					<br /> <br />
					<div class="row">
						<div class="col-xs-8 ">
							<h4 style="margin-left:70px;">Sản phẩm</h4>
						</div>
						<div class="col-xs-2">
							<h4>Giá</h4>
						</div>
						<div class="col-xs-2">
							<h4>Số lượng</h4>
						</div>
					</div>

					<!--**************** display products in cart ****************-->

					<div class="row" th:each="cartItem : ${cartItemList}">
						<form th:action="@{/shoppingCart/updateCartItem}" method="post">
							<hr />
							<div id="img_cart" class="col-xs-2">
								<a th:href="@{bookDetail(id=${cartItem.book.id})}"> <img
									style="width:70px;"
									class="img-responsive shelf-book center-block"
									th:src="@{'data:image/jpeg;charset=utf-8;base64,' + ${cartItem.book.imageString}}" />
								</a>
							</div>
							<div class="col-xs-6">
								<div style="margin-left:50px;">
								<a th:href="@{/bookDetail?id=}+${cartItem.book.id}"><h4 th:text="${cartItem.book.title}"></h4></a>
								<p  th:if="${cartItem.book.inStockNumber!=0}" style="color: green;">Còn lại <span th:text="${cartItem.book.inStockNumber}"></span> trong kho</p>
								<p th:if="${cartItem.book.inStockNumber==0}"
									style="color: darkred;">Sản phẩm đã hết</p>
								<a class="btn btn-danger" th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">Xóa</a>
								</div>
							</div>

							<div class="col-xs-2">
								<h5 style="color: #db3208; font-size: large;"><span th:text="${cartItem.book.price}"
										th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>VNĐ
								</h5>
							</div>

							<div class="col-xs-2">
								<input hidden="hidden" name="id" th:value="${cartItem.id}" /> <input
									th:id="${cartItem.id}" th:name="qty" th:disabled="${cartItem.book.inStockNumber==0}" class="form-control cartItemQty" th:value="${cartItem.qty}" style="
    display: inline-block;
" />
								<button
									th:id="'update-item-'+${cartItem.id}" type="submit"
									class="btn btn-warning btn-xs">Cập nhập</button>
							</div>
						</form>
					</div>

					<div class="row">
						<hr />đu
						<h4 class="col-xs-12 text-right" style="padding-right: 50px;">
							<strong style="font-size: large;">Tổng giá (<span
								th:text="${#lists.size(cartItemList)}"></span> sản phẩm):
							</strong> <span style="color: #db3208; font-szie: large;"><span
								th:text="${#numbers.formatDecimal(shoppingCart.grandTotal,0,0)}"></span> VNĐ</span>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end of container -->


	<div th:replace="common/header :: footer"/>
	
	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
